@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('/fonts/Pretendard-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/fonts/Pretendard-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'TossFaceFont';
  src: url('/fonts/TossFaceFont.ttf') format('truetype');
  font-display: swap;
}

#nprogress .bar {
  background: #58A6FF !important;
  height: 3px !important;
}

body {
  margin: 0;
  padding-top: 60px;
  font-family: Pretendard-SemiBold, TossFaceFont;
  background-color: #0D1117;
  color: #fff;
}

img {
  display:block;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #58A6FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  background-color: #30363D;
  height:1px;
  border:0;
}

strong {
  font-family: Pretendard-Bold, TossFaceFont;
}

.boldText {
  font-family: Pretendard-Bold, TossFaceFont;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #161B22;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav_logo {
  padding-left: 2%;
  padding-right: 0.5%;
}

.nav_logo img {
  display:block;
  align-items: center;
  justify-content: center;
}

.nav_menu {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav_menu li {
  padding: 10px;
}

.nav_menu a {
  text-decoration: none;
  color: white;
}

.nav_menu a:hover {
  color: #B1B5B0;
}

.user_profile {
  max-width: 1220px;
  width: 90%;
  text-align: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.user_profile_image {
  width: 25%;
  float: left;
  text-align: left;
}

.user_profile_links p {
  word-break:break-all;
}

.user_profile_links a {
  text-decoration: none;
  color: #fff;
}

.user_profile_links a:hover {
  color: #B1B5B0;
  text-decoration: underline;
  text-decoration-color: #B1B5B0;
}

.user_profile_overview {
  width: 70%;
  float: right;
  border: solid 2px #30363D;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.text {
  margin: 20px 20px 20px 20px;
}

.user_profile_pin_repos {
  width: 70%;
  float: right;
  text-align: left;
  margin-bottom: 10px;
}

.user_profile_repo {
  border: solid 2px #30363D;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 10px;
  width: 49%;
  height: 110px;
}

.urp_left {
  float: left;
}

.urp_right {
  float: right;
}

.repo_text {
  margin-top: -10px;
  color: #B1B5B0;
  font-size: 14px;
}

.badge {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1px;
  padding: 2px 5px;
  border-radius: 10px;
  color: #B1B5B0;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  border: solid 1px #B1B5B0;
}

.badgeYellow {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1px;
  padding: 2px 5px;
  border-radius: 10px;
  color: #CC9922;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  border: solid 1px #CC9922;
}

.repo_header {
  margin: auto;
  text-align: left;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.repo_tab {
  margin: auto;
  text-align: left;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.repo_tab_btn {
  background-color: #0D1117;
  border: none;
  color: #fff;
  font-family: Pretendard-SemiBold, TossFaceFont;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.repo_tab button:hover {
  background-color: #21262C;
}

.repo_tab_hr > .repo_tab_hr1 {
  width: 100%;
  float: left;
  position: absolute;
  z-index: -2;
}

.repo_tab_hr > .repo_tab_now {
  width: 69px;
  background-color: #F78166;
  height: 4px;
  position: absolute;
  margin-top: 4.7px;
  margin-left: 2.5%;
  z-index: -1;
}

.repo_page {
  width: 70%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.repo_content {
  width: 70%;
  float: left;
  text-align: left;
}

.repo_files_frame {
  border-radius: 5px;
  text-align: left;
  margin-bottom: 10px;
}

.repo_readme {
  border: solid 2px #30363D;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.repo_sidebar {
  width: 28%;
  float: right;
  text-align: left;
  margin-bottom: 10px;
}

.sideLinks > a {
  text-decoration: none;
  color: #8B949E;
  margin-bottom: 10px;
}

.sideLinks > a:hover {
  color: #58A6FF;
}

.repo_sidebar_m {
  display: none;
}

.repo_files {
  width: 100%;
  border-collapse: collapse;
}

.file_list_tr:hover {
  background-color: #161B22;
}

.repo_branch_btn {
  background-color: #161B22;
  border: none;
  color: #fff;
  font-family: Pretendard-SemiBold, TossFaceFont;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border: solid 1px #30363D;
  border-radius: 10px;
  margin-bottom: 10px;
}

.repo_branch_btn:hover {
  background-color: #30363D;
  border: solid 1px #8B949E;
}

.table_text {
  margin: 0px 10px;
  display: flex;
  float: left;
  align-items: center;
}

.table_text > img {
  margin-right: 10px;
}

th, td {
  border: 2px solid #30363D;
}

.tableLink > a {
  text-decoration: none;
  color: white;
}

.tableLink > a:hover {
  text-decoration: underline;
  color: #58A6FF
}

.repo_code {
  border: solid 2px #30363D;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.sideLinks > a {
  text-decoration: none;
  color: #8B949E;
  margin-bottom: 10px;
}

.noticeHeader {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

.noticeDetailContent {
  border: solid 2px #30363D;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.footer {
  clear: both;
  text-align: center;
  background-color: #30363D;
}

.footer > p {
  margin-bottom: 0px;
}

.mobile_br {
  display: none;
}

@media ( max-width: 768px ) { /* 모바일 */
  .user_profile {
    text-align: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .user_profile_image {
    width: 100%;
    margin-top: 20px;
  }

  .user_profile_image img {
    width: 80px;
    height: 80px;
    float: left;
  }

  .user_profile_image h2,
  .user_profile_image p {
    width: 70%;
    float: right;
    text-align: left;
    margin-top: -1%;
  }

  .user_profile_overview {
    width: 100%;
  }

  .user_profile_links {
    display: none;
  }
  
  .user_profile_pin_repos {
    width: 100%;
  }

  .user_profile_repo {
    width: 100%;
  }

  .urp_left,
  .urp_right {
    float: none;
  }

  .repo_header {
    margin: auto;
    text-align: left;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .repo_tab {
    margin: auto;
    text-align: left;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .repo_tab_hr > .repo_tab_now {
    width: 69px;
    background-color: #F78166;
    height: 4px;
    position: absolute;
    margin-top: 4.7px;
    margin-left: 5%;
  }

  .repo_page {
    width: 90%;
  }

  .repo_content{
    width: 98%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .repo_files_frame {
    width: 100%;
  }

  .repo_readme {
    width: 100%;
  }

  .repo_sidebar {
    display: none;
  }

  .repo_sidebar_m {
    width: 100%;
    display: block;
  }

  .mobile_br {
    display: block;
  }

}