@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'TossFaceFont';
  src: url('fonts/TossFaceFont.ttf') format('truetype');
}

body {
  margin: 0;
  padding-top: 60px;
  font-family: Pretendard-SemiBold, TossFaceFont;
  background-color: #0D1117;
  color: #fff;
}

img {
  display:block;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #161B22;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav_logo {
  padding-left: 2%;
  padding-right: 0.5%;
}

.nav_logo img {
  display:block;
  align-items: center;
  justify-content: center;
}

.nav_menu {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav_menu li {
  padding: 10%;
}

.nav_menu a {
  text-decoration: none;
  color: white;
}

.nav_menu a:hover {
  color: #B1B5B0;
}

.user_profile {
  max-width: 1220px;
  width: 90%;
  text-align: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.user_profile_image {
  width: 30%;
  float: left;
  text-align: left;
}

.user_profile_overview {
  width: 70%;
  float: right;
}

@media ( max-width: 768px ) { /* 모바일 */
  .user_profile {
    text-align: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .user_profile_image {
    width: 100%;
    margin-top: 20px;
  }

  .user_profile_image img {
    width: 80px;
    height: 80px;
    float: left;
  }

  .user_profile_image h2,
  .user_profile_image p {
    width: 70%;
    float: right;
    text-align: left;
    margin-top: -1%;
  }

  .user_profile_overview {
    width: 100%;
  }
  
}